---
import type { Playlist } from "../../data/data";
import { CardPlayBtn } from "./CardPlayBtn.jsx";

interface Props {
    playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, color, cover, artists, albumId, title } = playlist;

const intl = new Intl.ListFormat("en");
const showArtist = intl.format(artists);
---

<article class="group relative bg-gradient-to-t from-zinc-900 from-10% to-transparent rounded shadow-lg hover:shadow-xl hover:bg-zinc-800/60 transition-all duration-200">
    <div class="absolute transition-all duration-200 opacity-0 translate-y-4 group-hover:translate-y-0 group-hover:opacity-100 z-10 m-2 right-0">
        <CardPlayBtn client:visible id={id}/>
    </div>
    <a
        class="playlist-item transition-all duration-200 flex relative overflow-hidden py-[0.8px] items-center gap-4  max-w-xs cursor-pointer  w-[20rem] "
        href={`/playlist/${id}`}
        transition:name=`playlist ${id} box`
    >
        <picture class="h-fit w-20 flex">
            <img
                src={cover}
                class="object-cover w-fit h-fit rounded"
                transition:name=`/playlist/${id} image`
            />
        </picture>

        <div class="flex flex-col flex-auto truncate">
            <h5 class="text-gray-300" transition:name=`playlist ${id} title`>
                {title}
            </h5>
            <p
                class="text-gray-400 text-sm"
                transition:name=`playlist ${id} artists`
            >
                {showArtist}
            </p>
        </div>
    </a>
</article>

<style></style>
